.masterhead {
    height: 100vh;
    min-height: 500px;
    background-image: url("https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=733&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    color: white;
    font-size: 20px;
}

.content-header{
    font-family: 'Oleo Script',cursive;
    color: white;
    font-size: 30px;
}
